@model Article

<!-- Kapak Fotoğrafı -->
<div class="cover" style="background-image: url('@Model.CoveImageUrl');"></div>

<!-- Blog Meta Bilgileri -->
<div class="meta">
    <span>Kategori: <strong>@Model.CategoryId</strong></span>
    <span>Yazar: <strong>@Model.AppUser</strong></span>
    <span>Oluşturma Tarihi: <strong>@Model.CreatedTime.ToString("dd-MMM-yyyy")</strong></span>
</div>

<!-- Blog Detayı -->
<div class="content">
    <h1>@Model.Title</h1>
    <p>@Model.Description</p>
    
</div>
